.screen {
  background-color: black;
  height: 100vh;

  h1{
    text-align: center;
    color: white;
  }
}

.map {
  position: relative;
  padding-top: 35%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 1%;
}

.map-height-support {
  background-size: 105% 105%;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

#start-level {
  border:2px solid white;
  left: 79%;
  position: absolute;
  top: -10%;
  width: 21%;
  height: 7%;
  padding: 0px;
  font-size: 20px;
}

.pac-man {
  position: absolute;
  width: 3.84%;
  height: auto;
  //padding-top: 1%;
  margin: 0.5%;
  z-index: 1;
  animation-name: move;
  animation-duration: 1s;
}




.pac-man-top-right{
  background-color:yellow;
  height:1.9em;
  width:3.8em;
  border-radius:100em 100em 0 0;
  animation: spin1 0.2s linear;
}

.pac-man-bottom-right{
background-color:yellow;
  height:1.9em;
  width:3.8em;
  border-radius:0 0 100em 100em;
  animation: spin2 0.2s linear;
}
/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-50deg);}

}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(50deg);}
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@keyframes move {
  from { margin-right: -500px;}
  to { margin-right: 0px;}
}

.score{
  position: relative;
  display: inline;
  color:white;
  margin-right: 15%;
  left: 18%;
  font-size: 30px;
}

.interior-block {
  padding-top: 3.84%;
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.current-position {
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.exterior-block {
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  border: 2px solid blue;
  float: left;
}

.dot {
  position: absolute;
  margin: -2% 1.5%;
  background-color: white;
  border-radius: 50%;
  height: auto;
  padding: 0.4%;
  width: 0.5%;
}

.ghost-position {
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.ghost {
  position: absolute;
  width: 3.7%;
  height: auto;
  z-index: 1;
}
