.screen {
  background-color: white;
  height: 100%;
  color: black;

  .page-title{
    position: relative;
    margin-top: 3%;
    margin-bottom: 2%;
    left: 28%;
    font-size: 550%;
  }
  .header-image {
    position: absolute;
    left: 65%;
    width: 10%;
  }
}

.map {
  position: relative;
  padding-top: 35%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 1%;
  margin-bottom: 1%;

  .start-game-cover {
    border: 6px solid white;
    background-color: rgb(56, 78, 194);
    border-radius: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    img {
      position: absolute;
      width: 40%;
      top: 6%;
      left: 6%;
      transform: rotate(270deg);
    }

    .dog-catcher{
      position: absolute;
      width: 35%;
      top:10%;
      left: 60%;
      transform: rotate(0deg);
    }

    #start-level {
      background-color: white;
      border:2px solid blue;
      left: 67%;
      position: absolute;
      top: 80%;
      width: 22%;
      height: 8%;
      padding: 0px;
      font-size: 2em;
      color: blue;
    }
  }
  .map-height-support {
    background-size: 105% 105%;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .game-over-screen {
    border: 6px solid white;
    background-color: black;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    .loser-message {
      position: absolute;
      color: black;
      font-size: 10em;
      top: 32%;
      left: 15%;
    }

    img {
      border-radius: 10px;
      width: 100%;
    }

  }

  .victory-screen {
    border: 6px solid white;
    background-color: green;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    .winner-message {
      position: absolute;
      color: white;
      font-size: 10em;
      top: 32%;
      left: 25%;
    }

  }

}

.pac-man {
  position: absolute;
  width: 3.84%;
  height: auto;
  //padding-top: 1%;
  margin: 0.5%;
  z-index: 1;
  animation-name: move;
  animation-duration: 1s;
}

.pac-man-top-right{
  background-color:yellow;
  height:1.9em;
  width:3.8em;
  border-radius:100em 100em 0 0;
  animation: spin1 0.2s linear;
}

.pac-man-bottom-right{
background-color:yellow;
  height:1.9em;
  width:3.8em;
  border-radius:0 0 100em 100em;
  animation: spin2 0.2s linear;
}


.score{
  position: relative;
  display: inline;
  margin-right: 15%;
  left: 18%;
  font-size: 30px;
}

.interior-block {
  padding-top: 3.84%;
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.current-position {
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.exterior-block {
  width: 3.7%;
  height: 7.7%;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
}

.dot {
  position: absolute;
  margin: -2.75% 0.75%;
  height: auto;
  width: 2%;
}

.ghost-position1 {
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.ghost-position2 {
  width: 3.7%;
  height: 7.7%;
  background-color: black;
  float:left;
}

.ghost {
  height: auto;
  position: absolute;
  width: 4.7%;
  z-index: 1;
}

@media (min-width: 650px) and (max-width: 999px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 999px) and (max-width: 1530px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 999px) and (max-width: 1330px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 999px) and (max-width: 1200px) {
  body {
    font-size: 9px;
  }
}
